@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--txt-font);
  font-style: normal;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

.container {
  min-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1279px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.background {
  background-image: url("../images/background/bg-mobile@1x.png");
  background-size: auto;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: var(--bg-color-black);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .background {
    background-image: url("../images/background/bg-tablet@1x.png");
  }
}

@media screen and (min-width: 1280px) {
  .background {
    background-image: url("../images/background/bg-desktop@1x.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (min-width: 480px) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 767px) {
  .background {
    background-image: url("../images/background/bg-mobile@2x.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px),
screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px),
screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1279px) {
  .background {
    background-image: url("../images/background/bg-tablet@2x.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .background {
    background-image: url("../images/background/bg-desktop@2x.png");
  }
}

.logo-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.logo-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.black {
  background-color: black;
}

.icon-wrapper {
  position: absolute;
}

.icon-front {
  overflow: hidden;
}

.logo {
  width: 200px;
  height: 200px;
}

.modal {
  display: block;
  position: fixed;
  width: 272px;
  max-width: 100%;
  height: 915px;
  max-height: 100%;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-color-modal);
  border-radius: 150px 0px;
}

.modal__guts {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 75px 17px 114px 17px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal {
    width: 595px;
    height: 831px;
    border-radius: 300px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 930px;
    height: 1023px;
    border-radius: 300px 0px;
  }
}

:root {
  --txt-font: "Montserrat";
  --txt-color-pink: #dc56c5;
  --txt-color-white: #fff;
  --txt-color-grey: #939393;
  --txt-color-black: #0e0e0e;
  --btn-in-modal: #4c00fe;
  --bg-color-black: #0e0e0e;
  --bg-color-modal: #FFF2FD;
}

.overlay {
  background-color: rgba(11, 11, 11, 0.5019607843);
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
}

.header__background {
  height: 364px;
  background-image: url("../images/header-banner-mobile@1x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.header__logo-picture {
  position: absolute;
  width: 117px;
  height: 97px;
  top: 0px;
  left: 0px;
}

.header__title {
  color: var(--txt-color-pink);
  position: relative;
  width: 212px;
  height: 44px;
  top: 78px;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header__title-first {
  height: 22px;
}

.header__title-second {
  height: 22px;
}

.header__search {
  position: relative;
  width: 270px;
  height: 105px;
  margin-left: auto;
  margin-right: auto;
  top: 107px;
}

.header__form__search-box {
  width: 270px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--txt-color-grey);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-style: none;
  margin-bottom: 25px;
  padding-left: 30px;
}

input::placeholder {
  color: #f2f2ef;
}

.header__form__btn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 15px;
  left: 235px;
}

.header__list {
  width: 270px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--txt-color-grey);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-style: none;
  padding-left: 30px;
}

.header__list-text {
  text-align: justify;
  top: 9px;
  position: absolute;
  left: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__background {
    background-image: url("../images/header-banner-tablet@1x.png");
  }

  .header__logo-picture {
    width: 191px;
    height: 180px;
  }

  .header__title {
    width: 353px;
    height: 74px;
    top: 40px;
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 37px;
  }

  .header__title-first {
    height: 37px;
  }

  .header__title-second {
    height: 37px;
  }

  .header__search {
    width: 575px;
    height: 40px;
    top: 38px;
  }

  .header__form__search-box {
    margin-right: 30px;
  }

  .search-icon {
    top: 15px;
    left: 235px;
  }
}

@media screen and (min-width: 1280px) {
  .header__background {
    min-height: 446px;
    background-image: url("../images/header-banner-desktop@1x.png");
  }

  .header__logo-picture {
    width: 239px;
    height: 231px;
  }

  .header__title {
    width: 589px;
    height: 122px;
    top: 40px;
    margin-bottom: 52px;
    font-size: 50px;
    line-height: 61px;
  }

  .header__title-first {
    height: 61px;
  }

  .header__title-second {
    height: 61px;
  }

  .header__search {
    width: 575px;
    height: 40px;
    top: 43px;
  }

  .header__form__search-box {
    margin-right: 30px;
  }

  .search-icon {
    top: 15px;
    left: 235px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (min-width: 480px) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 767px) {
  .header__background {
    background-image: url("../images/header-banner-mobile@2x.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px),
screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px),
screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1279px) {
  .header__background {
    background-image: url("../images/header-banner-tablet@2x.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .header__background {
    background-image: url("../images/header-banner-desktop@2x.png");
  }
}

.select-menu {
  max-width: 270px;
}

.select-menu .select-btn {
  display: flex;
  height: 40px;
  width: 270px;
  color: #b7b7b4;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-style: none;
  padding-left: 30px;
  align-items: center;
  cursor: pointer;
}

.select-menu .options {
  position: absolute;
  width: 270px;
  overflow-y: auto;
  max-height: 295px;
  padding: 1px;
  margin-top: 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}

.select-menu .options .option {
  display: flex;
  height: 30px;
  cursor: pointer;
  padding: 0 16px;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
}

.select-menu .options .option:hover {
  background: #86397a;
}

.select-menu .options .option i {
  font-size: 25px;
  margin-right: 12px;
}

.select-menu .options .option .option-text {
  font-size: 17px;
  color: #b7b7b4;
}

.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}

.select-menu .options::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

.select-menu .options::-webkit-scrollbar-track {
  background: #4e2248;
  border-radius: 20px;
  /* color of the tracking area */
}

.select-menu .options::-webkit-scrollbar-thumb {
  background-color: #b838a4;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 1px solid black;
  /* creates padding around scroll thumb */
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.loading {
  display: flex;
  justify-content: center;
}

.loading--full-height {
  align-items: center;
  height: 100%;
}

.loading::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 10px solid rgba(221, 221, 221, 0.8196078431);
  border-top-color: #dc56c5;
  border-bottom-color: #dc56c5;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

.gallery {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 320px;
  min-height: 700px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 21px;
  display: flex;
  color: var(--txt-color-grey);
  justify-content: center;
}

.gallery__item:hover {
  transform: scale(1.1);
}

.gallery__image-container {
  position: relative;
  display: block;
  z-index: 1;
  cursor: pointer;
  margin-bottom: 10px;
  pointer-events: none;
}

.gallery__image-container::before {
  content: "";
  position: absolute;
  z-index: 3;
  width: 108px;
  height: 101px;
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0px;
  top: -9px;
  right: -8px;
}

.gallery__image {
  width: 128px;
  height: 161px;
  border-radius: 50px 0px;
  padding-bottom: 5px;
  overflow: hidden;
}

.gallery__image img {
  width: 100%;
  height: 100%;
}

.gallery__item-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--txt-color-pink);
}

.gallery__item-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--txt-color-white);
}

.gallery__item-place {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: var(--txt-color-white);
}

.gallery__item-place::before {
  content: url("/src/images/location.png");
  position: absolute;
  max-width: 7px;
  max-height: 10px;
  margin-left: -10px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
    padding: 0 87px;
  }

  .gallery__list {
    gap: 26px;
  }

  .gallery__image-container {
    margin-bottom: 20px;
  }

  .gallery__image-container::before {
    width: 153px;
    height: 143px;
    top: -12px;
    right: -12px;
  }

  .gallery__image {
    width: 180px;
    height: 227px;
  }

  .gallery__item-name {
    font-size: 16px;
  }

  .gallery__item-date {
    font-size: 16px;
  }

  .gallery__item-place {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    padding-left: 16px;
    padding-right: 16px;
    width: 1280px;
    padding: 0 137px;
  }

  .gallery__image-container {
    margin-bottom: 30px;
  }

  .gallery__image-container::before {
    width: 153px;
    height: 143px;
    top: -14px;
    right: 14px;
  }

  .gallery__image {
    width: 180px;
    height: 227px;
  }

  .gallery__item-name {
    font-size: 16px;
  }

  .gallery__item-date {
    font-size: 16px;
  }

  .gallery__item-place {
    font-size: 14px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 34px 27px 34px;
}

.footer__text {
  text-align: center;
  color: var(--txt-color-grey);
}

.heart {
  color: red;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    margin: auto;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
    padding-bottom: 19px;
  }
}

.tui-pagination {
  font-family: "Montserrat", sans-serif;
  height: 30px;
  padding-top: 50px;
  line-height: normal;
  text-align: center;
  font-size: 0;
}

@media screen and (min-width: 768px) {
  .tui-pagination {
    padding-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .tui-pagination {
    padding-top: 50px;
  }
}

.tui-pagination .tui-page-btn {
  display: inline-block;
  position: relative;
  width: 30px;
  padding: 8px 0 6px;
  margin-left: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tui-pagination .tui-page-btn:hover {
  color: #dc56c5;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #dc56c5;
  background: transparent;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #dc56c5;
  cursor: default;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tui-pagination .tui-is-selected:hover {
  background-color: #dc56c5;
  color: #ffffff;
}

.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-ellip {
  overflow: hidden;
  height: 30px;
  font-size: 0;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tui-pagination .tui-ico-first:hover,
.tui-pagination .tui-ico-prev:hover,
.tui-pagination .tui-ico-next:hover,
.tui-pagination .tui-ico-last:hover,
.tui-pagination .tui-ico-ellip:hover {
  color: #dc56c5;
}

.tui-pagination .tui-ico-first::after {
  font-family: "Titan One", cursive;
  content: "<<";
  font-size: 15px;
}

.tui-pagination .tui-ico-prev::after {
  font-family: "Titan One", cursive;
  content: "<";
  font-size: 15px;
}

.tui-pagination .tui-ico-next::after {
  font-family: "Titan One", cursive;
  content: ">";
  font-size: 15px;
}

.tui-pagination .tui-ico-last::after {
  font-family: "Titan One", cursive;
  content: ">>";
  font-size: 15px;
}

.tui-pagination .tui-ico-ellip::after {
  content: "...";
  font-size: 15px;
}

.tui-pagination .tui-is-disabled .tui-ico-prev,
.tui-pagination .tui-is-disabled .tui-ico-first,
.tui-pagination .tui-is-disabled .tui-ico-next,
.tui-pagination .tui-is-disabled .tui-ico-last {
  display: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
}

.isHidden {
  display: none;
}

/*# sourceMappingURL=index.css.map */