.gallery {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 320px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 21px;
  display: flex;
}

.gallery__item {
  width: 138px;
  height: 242px;
  margin-top: 52px;
  margin-right: 4px;
  margin-bottom: 30px;
}

.gallery__image {
  width: 128px;
  height: 161px;
}

.gallery__item-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--txt-color-pink);
}

.gallery__item-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--txt-color-white);
}

.gallery__item-place {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--txt-color-white);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
    padding: 0 98px;
  }

  .gallery__item .gallery__image-container {
    width: 196px;
    height: 312px;
    margin-top: 123px;
    margin-right: 13px;
    margin-bottom: 45px;
  }

  .gallery__image {
    width: 180px;
    height: 227px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    padding-left: 16px;
    padding-right: 16px;
    width: 1280px;
    padding: 0 175px;
  }

  .gallery__item {
    width: 196px;
    height: 312px;
    margin-top: 133px;
    margin-right: 56px;
    margin-bottom: 50px;
  }

  .gallery__image {
    width: 180px;
    height: 227px;
  }
}
