.overlay {
  background-color: #0b0b0b80;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
}

.header__background {
  height: 364px;
  background-image: url('../images/header-banner-mobile@1x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.header__logo-picture {
  position: absolute;
  width: 117px;
  height: 97px;
  top: 0px;
  left: 0px;
}
.header__title {
  color: var(--txt-color-pink);
  position: relative;
  width: 212px;
  height: 44px;
  top: 78px;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header__title-first {
  height: 22px;
}

.header__title-second {
  height: 22px;
}

.header__search {
  position: relative;
  width: 270px;
  height: 105px;
  margin-left: auto;
  margin-right: auto;
  top: 107px;
}

.header__form__search-box {
  width: 270px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--txt-color-grey);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-style: none;
  margin-bottom: 25px;
  padding-left: 30px;
}

input::placeholder {
  color: #b7b7b4;
}

.header__form__btn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 15px;
  left: 245px;
}

.header__list {
  width: 270px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--txt-color-grey);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-style: none;
  padding-left: 30px;
}

.header__list-text {
  text-align: justify;
  top: 9px;
  position: absolute;
  left: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__background {
    background-image: url('../images/header-banner-tablet@1x.png');
  }
  .header__logo-picture {
    width: 191px;
    height: 180px;
  }
  .header__title {
    width: 353px;
    height: 74px;
    top: 40px;
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 37px;
  }

  .header__title-first {
    height: 37px;
  }

  .header__title-second {
    height: 37px;
  }

  .header__search {
    width: 575px;
    height: 40px;
    top: 38px;
  }

  .header__form__search-box {
    margin-right: 30px;
  }

  .search-icon {
    top: 15px;
    left: 245px;
  }
}

@media screen and (min-width: 1280px) {
  .header__background {
    min-height: 446px;
    background-image: url('../images/header-banner-desktop@1x.png');
  }
  .header__logo-picture {
    width: 239px;
    height: 231px;
  }

  .header__title {
    width: 589px;
    height: 122px;
    top: 40px;
    margin-bottom: 52px;
    font-size: 50px;
    line-height: 61px;
  }

  .header__title-first {
    height: 61px;
  }

  .header__title-second {
    height: 61px;
  }

  .header__search {
    width: 575px;
    height: 40px;
    top: 43px;
  }

  .header__form__search-box {
    margin-right: 30px;
  }

  .search-icon {
    top: 15px;
    left: 245px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (min-width: 480px) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 767px) {
  .header__background {
    background-image: url('../images/header-banner-mobile@2x.png');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1279px) {
  .header__background {
    background-image: url('../images/header-banner-tablet@2x.png');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .header__background {
    background-image: url('../images/header-banner-desktop@2x.png');
  }
}
