.header__background {
  height: 364px;
  background-image: url('../images/pic-mobile.png');
  background-color: rgba(11, 11, 11, 0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header__logo-picture {
  position: absolute;
  width: 117px;
  height: 97px;
  top: 0px;
  left: 0px;
}
.header__title {
  color: var(--txt-color-pink);
  position: absolute;
  width: 212px;
  left: 57px;
  top: 80px;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  display: block;
}

.header__title-first {
  height: 22px;
  position: absolute;
  top: -5px;
  left: 15px;
}

.header__title-second {
  height: 22px;
  position: absolute;
  top: 18px;
}

.header__form__search-box {
  position: absolute;
  width: 270px;
  height: 40px;
  left: 25px;
  top: 147px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--txt-color-grey);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-style: none;
}

.header__form__btn {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  margin-top: -203px;
  margin-right: 63px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  left: 82.81%;
  right: 13.44%;
  top: 5.11%;
  bottom: 23%;
  width: 12px;
  height: 12px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.header__list {
  position: absolute;
  width: 270px;
  height: 40px;
  left: 25px;
  top: 212px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--txt-color-grey);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.header__list-text {
  text-align: justify;
  top: 9px;
  position: absolute;
  left: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__background {
    background-image: url('../images/pic-tablet.png');
  }
  .header__logo-picture {
    width: 191px;
    height: 180px;
  }
  .header__title {
    width: 353px;
    height: 74px;
    left: 222px;
    top: 44px;
    font-size: 30px;
    line-height: 37px;
  }

  .header__title-first {
    height: 37px;
  }

  .header__title-second {
    height: 37px;
    top: 27px;
  }

  .header__form__search-box {
    left: 99px;
    top: 141px;
  }

  .search-icon {
    right: 54.3%;
    bottom: 94.33%;
    top: -4px;
    left: -372px;
  }

  .header__list {
    left: 399px;
    top: 141px;
  }
}

@media screen and (min-width: 1280px) {
  .header__background {
    height: 446px;
    background-image: url('../images/pic-desktop.png');
  }
  .header__logo-picture {
    width: 239px;
    height: 231px;
  }

  .header__title {
    width: 588px;
    height: 122px;
    left: 373px;
    top: 40px;
    font-size: 50px;
    line-height: 61px;
  }

  .header__title-first {
    height: 61px;
  }

  .header__title-second {
    height: 61px;
    top: 53px;
    left: -20px;
  }

  .header__form__search-box {
    left: 355px;
    top: 214px;
  }

  .search-icon {
    left: 46.48%;
    right: 52.58%;
    top: 9.6%;
    bottom: 89.9%;
  }

  .header__list {
    left: 655px;
    top: 214px;
  }
}
