.overlay {
  background-color: #0b0b0b80;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
}

.header {
  height: 364px;
  background-image: url('../images/header-banner-mobile@1x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &__logo-picture {
    position: absolute;
    height: 90px;
    width: 106.5px;
  }

  &__title {
    color: var(--txt-color-pink);
    position: relative;
    width: 212px;
    height: 44px;
    top: 78px;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__title-first {
    height: 22px;
  }

  &__title-second {
    height: 22px;
  }

  &__search {
    position: relative;
    width: 270px;
    height: 105px;
    margin-left: auto;
    margin-right: auto;
    top: 107px;
  }

  &__form {
    &__search-box {
      width: 270px;
      height: 40px;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--txt-color-grey);
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      border-radius: 20px;
      border-style: none;
      margin-bottom: 25px;
      padding-left: 30px;
      padding-right: 45px;
    }

    &__btn {
      display: none;
      background-color: var(--bg-color-black);
      border: none;
      cursor: pointer;
    }
  }
}

input::placeholder {
  color: var(--txt-color-grey);
  font-weight: 400;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 15px;
  left: 235px;
}

.select-icon {
  position: absolute;
  width: 15px;
  height: 10px;
  top: 82px;
  left: 234px;
}

@media screen and (min-width: 768px) and (max-width: 1279.99px) {
  .header {
    background-image: url('../images/header-banner-tablet@1x.png');

    &__logo-picture {
      height: 151px;
      width: 179px;
    }

    &__title {
      width: 353px;
      height: 74px;
      top: 40px;
      margin-bottom: 27px;
      font-size: 30px;
      line-height: 37px;
    }

    &__title-first {
      height: 37px;
    }

    &__title-second {
      height: 37px;
    }

    &__form {
      display: flex;

      &__search-box {
        margin-right: 30px;
      }
    }

    &__search {
      width: 575px;
      height: 40px;
      top: 38px;
    }
  }

  .search-icon {
    top: 15px;
    left: 235px;
  }

  .select-icon {
    top: 16px;
    left: 536px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    min-height: 446px;
    background-image: url('../images/header-banner-desktop@1x.png');

    &__logo-picture {
      height: 201px;
      width: 239px;
    }

    &__title {
      width: 589px;
      height: 122px;
      top: 40px;
      margin-bottom: 52px;
      font-size: 50px;
      line-height: 61px;
    }

    &__title-first {
      height: 61px;
    }

    &__title-second {
      height: 61px;
    }

    &__form {
      display: flex;

      &__search-box {
        margin-right: 30px;
      }
    }

    &__search {
      width: 575px;
      height: 40px;
      top: 43px;
    }
  }

  .select-icon {
    top: 16px;
    left: 536px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (min-width: 480px) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 767px) {
  .header {
    background-image: url('../images/header-banner-mobile@2x.png');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279.99px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279.99px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1279.99px) {
  .header {
    background-image: url('../images/header-banner-tablet@2x.png');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .header {
    background-image: url('../images/header-banner-desktop@2x.png');
  }
}

.select-menu {
  max-width: 270px;
}

.select-menu .select-btn {
  display: flex;
  height: 40px;
  width: 270px;
  color: var(--txt-color-grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-style: none;
  padding-left: 30px;
  align-items: center;
  cursor: pointer;
}

.select-menu .options {
  display: none;
  position: absolute;
  width: 270px;
  overflow-y: auto;
  max-height: 295px;
  padding: 1px;
  margin-top: 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}

.select-menu .options .option {
  display: flex;
  height: 30px;
  cursor: pointer;
  padding: 0 16px;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
}

.select-menu .options .option:hover {
  background: #86397a;
}

.select-menu .options .option i {
  font-size: 25px;
  margin-right: 12px;
}

.select-menu .options .option .option-text {
  color: var(--txt-color-grey);
  font-weight: 400;
  font-size: 16px;
}

.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 3;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}

.select-menu .options::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.select-menu .options::-webkit-scrollbar-track {
  background: #4e2248;
  border-radius: 20px; /* color of the tracking area */
}

.select-menu .options::-webkit-scrollbar-thumb {
  background-color: #b838a4; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid black; /* creates padding around scroll thumb */
}

.option span {
  pointer-events: none;
}