@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.tui-pagination {
  font-family: 'Montserrat', sans-serif;
  height: 30px;
  padding-top: 50px;
  line-height: normal;
  text-align: center;
  font-size: 0;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 50px;
  }
}

.tui-pagination .tui-page-btn {
  display: inline-block;
  position: relative;
  width: 30px;
  padding: 8px 0 6px;
  margin-left: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tui-pagination .tui-page-btn:hover {
  color: #dc56c5;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #dc56c5;
  background: transparent;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #dc56c5;
  cursor: default;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tui-pagination .tui-is-selected:hover {
  background-color: #dc56c5;
  color: #ffffff;
}

.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-ellip {
  overflow: hidden;
  height: 30px;
  font-size: 0;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tui-pagination .tui-ico-first:hover,
.tui-pagination .tui-ico-prev:hover,
.tui-pagination .tui-ico-next:hover,
.tui-pagination .tui-ico-last:hover,
.tui-pagination .tui-ico-ellip:hover {
  color: #dc56c5;
}

.tui-pagination .tui-ico-first::after {
  font-family: 'Titan One', cursive;
  content: '<<';
  font-size: 15px;
}

.tui-pagination .tui-ico-prev::after {
  font-family: 'Titan One', cursive;
  content: '<';
  font-size: 15px;
}

.tui-pagination .tui-ico-next::after {
  font-family: 'Titan One', cursive;
  content: '>';
  font-size: 15px;
}

.tui-pagination .tui-ico-last::after {
  font-family: 'Titan One', cursive;
  content: '>>';
  font-size: 15px;
}

.tui-pagination .tui-ico-ellip::after {
  content: '...';
  font-size: 15px;
}

.tui-pagination .tui-is-disabled .tui-ico-prev,
.tui-pagination .tui-is-disabled .tui-ico-first,
.tui-pagination .tui-is-disabled .tui-ico-next,
.tui-pagination .tui-is-disabled .tui-ico-last {
  display: none;
}
