@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--txt-font);
  font-style: normal;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
  padding: 0 25px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 767px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1279px;
    padding: 0 85px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 175px;
  }
}
.background {
  background-image: url("../images/bg-mobile@1x.png");
  background-size: contain;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .background {
    background-image: url("../images/bg-tablet@1x.png");
  }
}
@media screen and (min-width: 1280px) {
  .background {
    background-image: url("../images/bg-desktop@1x.png");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 480px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 767px) {
  .background {
    background-image: url("../images/bg-mobile@2x.png");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1279px) {
  .background {
    background-image: url("../images/bg-tablet@2x.png");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .background {
    background-image: url("../images/bg-desktop@2x.png");
  }
}
:root {
  --txt-font: "Montserrat";
  --txt-color-pink: #dc56c5;
  --txt-color-white: #fff;
  --txt-color-grey: #939393;
  --txt-color-black: #0e0e0e;
  --btn-in-modal: #4c00fe;
}

.header__background {
  height: 364px;
  background-image: url("../images/pic-mobile.png");
  background-color: rgba(11, 11, 11, 0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__logo-picture {
  position: absolute;
  width: 117px;
  height: 97px;
  top: 0px;
  left: 0px;
}

.header__title {
  color: var(--txt-color-pink);
  position: absolute;
  width: 212px;
  left: 57px;
  top: 80px;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  display: block;
}

.header__title-first {
  height: 22px;
  position: absolute;
  top: -5px;
  left: 15px;
}

.header__title-second {
  height: 22px;
  position: absolute;
  top: 18px;
}

.header__form__search-box {
  position: absolute;
  width: 270px;
  height: 40px;
  left: 25px;
  top: 147px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--txt-color-grey);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-style: none;
}

.header__form__btn {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  margin-top: -203px;
  margin-right: 63px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  left: 82.81%;
  right: 13.44%;
  top: 5.11%;
  bottom: 23%;
  width: 12px;
  height: 12px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.header__list {
  position: absolute;
  width: 270px;
  height: 40px;
  left: 25px;
  top: 212px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--txt-color-grey);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.header__list-text {
  text-align: justify;
  top: 9px;
  position: absolute;
  left: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__background {
    background-image: url("../images/pic-tablet.png");
  }
  .header__logo-picture {
    width: 191px;
    height: 180px;
  }
  .header__title {
    width: 353px;
    height: 74px;
    left: 222px;
    top: 44px;
    font-size: 30px;
    line-height: 37px;
  }
  .header__title-first {
    height: 37px;
  }
  .header__title-second {
    height: 37px;
    top: 27px;
  }
  .header__form__search-box {
    left: 99px;
    top: 141px;
  }
  .search-icon {
    right: 54.3%;
    bottom: 94.33%;
    top: -4px;
    left: -372px;
  }
  .header__list {
    left: 399px;
    top: 141px;
  }
}
@media screen and (min-width: 1280px) {
  .header__background {
    min-height: 446px;
    background-image: url("../images/pic-desktop.png");
  }
  .header__logo-picture {
    width: 239px;
    height: 231px;
  }
  .header__title {
    width: 588px;
    height: 122px;
    left: 373px;
    top: 40px;
    font-size: 50px;
    line-height: 61px;
  }
  .header__title-first {
    height: 61px;
  }
  .header__title-second {
    height: 61px;
    top: 53px;
    left: -20px;
  }
  .header__form__search-box {
    left: 355px;
    top: 214px;
  }
  .search-icon {
    left: 46.48%;
    right: 52.58%;
    top: 9.6%;
    bottom: 89.9%;
  }
  .header__list {
    left: 655px;
    top: 214px;
  }
}

.modal {
  display: none;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.loading {
  display: flex;
  justify-content: center;
}

.loading--full-height {
  align-items: center;
  height: 100%;
}

.loading::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 10px solid rgba(221, 221, 221, 0.8196078431);
  border-top-color: #dc56c5;
  border-bottom-color: #dc56c5;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.gallery__list li {
  flex-basis: calc((100% - 45px) / 4);
}

.gallery__list li div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tui-pagination {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  height: 30px;
  margin: 14px 0 12px;
  line-height: normal;
  text-align: center;
  font-size: 0;
}

.tui-pagination .tui-page-btn {
  display: inline-block;
  position: relative;
  width: 30px;
  padding: 8px 0 6px;
  margin-left: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tui-pagination .tui-page-btn:hover {
  color: #DC56C5;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #DC56C5;
  background: transparent;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #DC56C5;
  cursor: default;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tui-pagination .tui-is-selected:hover {
  background-color: #DC56C5;
  color: #ffffff;
}

.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-ellip {
  overflow: hidden;
  height: 30px;
  font-size: 0;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tui-pagination .tui-ico-first:hover,
.tui-pagination .tui-ico-prev:hover,
.tui-pagination .tui-ico-next:hover,
.tui-pagination .tui-ico-last:hover,
.tui-pagination .tui-ico-ellip:hover {
  color: #DC56C5;
}

.tui-pagination .tui-ico-first::after {
  font-family: "Titan One", cursive;
  content: "<<";
  font-size: 15px;
}

.tui-pagination .tui-ico-prev::after {
  font-family: "Titan One", cursive;
  content: "<";
  font-size: 15px;
}

.tui-pagination .tui-ico-next::after {
  font-family: "Titan One", cursive;
  content: ">";
  font-size: 15px;
}

.tui-pagination .tui-ico-last::after {
  font-family: "Titan One", cursive;
  content: ">>";
  font-size: 15px;
}

.tui-pagination .tui-ico-ellip::after {
  content: "...";
  font-size: 15px;
}

.tui-pagination .tui-is-disabled .tui-ico-prev,
.tui-pagination .tui-is-disabled .tui-ico-first,
.tui-pagination .tui-is-disabled .tui-ico-next,
.tui-pagination .tui-is-disabled .tui-ico-last {
  display: none;
}/*# sourceMappingURL=index.css.map */