:root {
  --txt-font: 'Montserrat';
  --txt-color-pink: #dc56c5; //header, card
  --txt-color-white: #fff; //card
  --txt-color-grey: #939393; //search field, footer
  --txt-color-black: #0e0e0e; //modal
  --btn-in-modal: #4c00fe;
  --bg-color-black: #0e0e0e; //background
  --bg-color-modal: #FFF2FD; //modal background
}
