<div class="gallery__container" id="gallery-container">
    <!------------G A L L E R Y ---------->
    <section class="gallery" id="gallery">
        <!------------G A L L E R Y  L I S T ---------->
        <ul class="gallery__list" id="gallery-list">
            <!------------G A L L E R Y  I T E M ---------->
            <li class="gallery__item" id="gallery-item">
                <div class="gallery__image-container" id="gallery-image-container" width="180" height="227">
                    <img class="gallery__image" id="gallery-image"/>
                </div>
                <div class="gallery__item-details" id="gallery-item-details">
                    <p class="gallery__item-name" id="gallery-item-name">Name placeholder</p>
                    <p class="gallery__item-date" id="gallery-item-date">Date placeholder</p>
                    <p class="gallery__item-place" id="gallery-item-place">Place placeholder</p>
                </div>
            </li>
        </ul>
    </section>
    <!------------P A G I N A T I O N ---------->
    <section class="gallery__pagination" id="gallery-pagination">
        <!------------P A G I N A T I O N  L I S T ---------->
        <ul class="gallery__pagination-list" id="gallery-pagination-list">
        </ul>
    </section>
</div>