<header class="header container">
  <!------------ B A C K G R O U N D ---------->
  <div class="header__background">
    <!------------ H E A D I N G ---------->
    <div class="header__content-container container">
      <!------------ L O G O ---------->
      <div class="overlay">
        <div class="header__logo">
          <a href="./index.html"><picture class="header__logo-picture">
      <source srcset="./images/logo-mobile.png 1x, ./images/logo-mobile@2x.png 2x" media="(min-width: 320px) and (max-width: 550px)"/>
      <source srcset="./images/logo-tablet.png 1x, ./images/logo-tablet@2x.png 2x" media="(min-width: 551px) and (max-width: 1279.99px)"/>
      <source srcset="./images/logo-desktop.png 1x, ./images/logo-desktop@2x.png 2x" media="(min-width: 1280px)"/>
      <img
      class="header__logo-img"
      src="./images/logo-mobile.png"
      alt="logo"
    /></picture></a>
        </div>

        <!------------ H E A D I N G ---------->
        <div class="header__content-container">
          <!------------ T I T L E ---------->
          <div class="header__title">
            <p class="header__title-first">FIND BEST EVENTS</p>
            <p class="header__title-second">AROUND THE WORLD</p>
          </div>
          <!------------ F O R M  ---------->
          <div class="header__search">
            <form class="header__form">
              <input class="header__form__search-box" type="text" id="search-box" placeholder="Start searching" />
              <svg class="search-icon" id="search-icon">
                <use href="./images/icons.svg#search-icon"></use>
              </svg>
              <button class="header__form__btn" type="button" name="button">
              </button>

              <!------------ C O U N T R Y  L I S T ---------->

              <div class="select-menu" id="country-list">
                <div class="select-btn">
                  <span class="sBtn-text">Choose Country</span>
                </div>
                <svg class="select-icon" id="select-icon">
                <use href="./images/icons.svg#select-icon"></use>
              </svg>
                <ul class="options">
                  <li class="option" value="ALL">
                    <span class="option-text">All</span>
                  </li>
                  <li class="option" value="US">
                    <span class="option-text">United States Of America</span>
                  </li>
                  <li class="option" value="AD">
                    <span class="option-text">Andorra</span>
                  </li>
                  <li class="option" value="AI">
                    <span class="option-text">Anguilla</span>
                  </li>
                  <li class="option" value="AR">
                    <span class="option-text">Argentina</span>
                  </li>
                  <li class="option" value="AU">
                    <span class="option-text">Australia</span>
                  </li>
                  <li class="option" value="AT">
                    <span class="option-text">Austria</span>
                  </li>
                  <li class="option" value="AZ">
                    <span class="option-text">Azerbaijan</span>
                  </li>
                  <li class="option" value="BS">
                    <span class="option-text">Bahamas</span>
                  </li>
                  <li class="option" value="BH">
                    <span class="option-text">Bahrain</span>
                  </li>
                  <li class="option" value="BB">
                    <span class="option-text">Barbados</span>
                  </li>
                  <li class="option" value="BE">
                    <span class="option-text">Belgium</span>
                  </li>
                  <li class="option" value="BM">
                    <span class="option-text">Bermuda</span>
                  </li>
                  <li class="option" value="BR">
                    <span class="option-text">Brazil</span>
                  </li>
                  <li class="option" value="BG">
                    <span class="option-text">Bulgaria</span>
                  </li>
                  <li class="option" value="CA">
                    <span class="option-text">Canada</span>
                  </li>
                  <li class="option" value="CL">
                    <span class="option-text">Chile</span>
                  </li>
                  <li class="option" value="CN">
                    <span class="option-text">China</span>
                  </li>
                  <li class="option" value="CO">
                    <span class="option-text">Colombia</span>
                  </li>
                  <li class="option" value="CR">
                    <span class="option-text">Costa Rica</span>
                  </li>
                  <li class="option" value="HR">
                    <span class="option-text">Croatia</span>
                  </li>
                  <li class="option" value="CY">
                    <span class="option-text">Cyprus</span>
                  </li>
                  <li class="option" value="CZ">
                    <span class="option-text">Czech Republic</span>
                  </li>
                  <li class="option" value="DK">
                    <span class="option-text">Denmark</span>
                  </li>
                  <li class="option" value="DO">
                    <span class="option-text">Dominican Republic</span>
                  </li>
                  <li class="option" value="EC">
                    <span class="option-text">Ecuador</span>
                  </li>
                  <li class="option" value="EE">
                    <span class="option-text">Estonia</span>
                  </li>
                  <li class="option" value="FO">
                    <span class="option-text">Faroe Islands</span>
                  </li>
                  <li class="option" value="FI">
                    <span class="option-text">Finland</span>
                  </li>
                  <li class="option" value="FR">
                    <span class="option-text">France</span>
                  </li>
                  <li class="option" value="GE">
                    <span class="option-text">Georgia</span>
                  </li>
                  <li class="option" value="DE">
                    <span class="option-text">Germany</span>
                  </li>
                  <li class="option" value="GH">
                    <span class="option-text">Ghana</span>
                  </li>
                  <li class="option" value="GI">
                    <span class="option-text">Gibraltar</span>
                  </li>
                  <li class="option" value="GB">
                    <span class="option-text">Great Britain</span>
                  </li>
                  <li class="option" value="GR">
                    <span class="option-text">Greece</span>
                  </li>
                  <li class="option" value="HK">
                    <span class="option-text">Hong Kong</span>
                  </li>
                  <li class="option" value="HU">
                    <span class="option-text">Hungary</span>
                  </li>
                  <li class="option" value="IS">
                    <span class="option-text">Iceland</span>
                  </li>
                  <li class="option" value="IN">
                    <span class="option-text">India</span>
                  </li>
                  <li class="option" value="IE">
                    <span class="option-text">Ireland</span>
                  </li>
                  <li class="option" value="IL">
                    <span class="option-text">Israel</span>
                  </li>
                  <li class="option" value="IT">
                    <span class="option-text">Italy</span>
                  </li>
                  <li class="option" value="JM">
                    <span class="option-text">Jamaica</span>
                  </li>
                  <li class="option" value="JP">
                    <span class="option-text">Japan</span>
                  </li>
                  <li class="option" value="KR">
                    <span class="option-text">Korea</span>
                  </li>
                  <li class="option" value="LV">
                    <span class="option-text">Latvia</span>
                  </li>
                  <li class="option" value="LB">
                    <span class="option-text">Lebanon</span>
                  </li>
                  <li class="option" value="LT">
                    <span class="option-text">Lithuania</span>
                  </li>
                  <li class="option" value="LU">
                    <span class="option-text">Luxembourg</span>
                  </li>
                  <li class="option" value="MY">
                    <span class="option-text">Malaysia</span>
                  </li>
                  <li class="option" value="MT">
                    <span class="option-text">Malta</span>
                  </li>
                  <li class="option" value="MX">
                    <span class="option-text">Mexico</span>
                  </li>
                  <li class="option" value="MC">
                    <span class="option-text">Monaco</span>
                  </li>
                  <li class="option" value="ME">
                    <span class="option-text">Montenegro</span>
                  </li>
                  <li class="option" value="MA">
                    <span class="option-text">Morocco</span>
                  </li>
                  <li class="option" value="NL">
                    <span class="option-text">Netherlands</span>
                  </li>
                  <li class="option" value="AN">
                    <span class="option-text">Netherlands Antilles</span>
                  </li>
                  <li class="option" value="NZ">
                    <span class="option-text">New Zealand</span>
                  </li>
                  <li class="option" value="ND">
                    <span class="option-text">Northern Ireland</span>
                  </li>
                  <li class="option" value="NO">
                    <span class="option-text">Norway</span>
                  </li>
                  <li class="option" value="PE">
                    <span class="option-text">Peru</span>
                  </li>
                  <li class="option" value="PL">
                    <span class="option-text">Poland</span>
                  </li>
                  <li class="option" value="PT">
                    <span class="option-text">Portugal</span>
                  </li>
                  <li class="option" value="RO">
                    <span class="option-text">Romania</span>
                  </li>
                  <li class="option" value="RU">
                    <span class="option-text">Russian Federation</span>
                  </li>
                  <li class="option" value="LC">
                    <span class="option-text">Saint Lucia</span>
                  </li>
                  <li class="option" value="SA">
                    <span class="option-text">Saudi Arabia</span>
                  </li>
                  <li class="option" value="RS">
                    <span class="option-text">Serbia</span>
                  </li>
                  <li class="option" value="SG">
                    <span class="option-text">Singapore</span>
                  </li>
                  <li class="option" value="SK">
                    <span class="option-text">Slovakia</span>
                  </li>
                  <li class="option" value="SI">
                    <span class="option-text">Slovenia</span>
                  </li>
                  <li class="option" value="ZA">
                    <span class="option-text">South Africa</span>
                  </li>
                  <li class="option" value="ES">
                    <span class="option-text">Spain</span>
                  </li>
                  <li class="option" value="SE">
                    <span class="option-text">Sweden</span>
                  </li>
                  <li class="option" value="CH">
                    <span class="option-text">Switzerland</span>
                  </li>
                  <li class="option" value="TW">
                    <span class="option-text">Taiwan</span>
                  </li>
                  <li class="option" value="TH">
                    <span class="option-text">Thailand</span>
                  </li>
                  <li class="option" value="TT">
                    <span class="option-text">Trinidad and Tobago</span>
                  </li>
                  <li class="option" value="TR">
                    <span class="option-text">Turkey</span>
                  </li>
                  <li class="option" value="UA">
                    <span class="option-text">Ukraine</span>
                  </li>
                  <li class="option" value="AE">
                    <span class="option-text">United Arab Emirates</span>
                  </li>
                  <li class="option" value="UY">
                    <span class="option-text">Uruguay</span>
                  </li>
                  <li class="option" value="VE">
                    <span class="option-text">Venezuela</span>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
</header>