
<header class="header container">
  <!------------ B A C K G R O U N D ---------->
  <div class="header__background">
      <!------------ H E A D I N G ---------->
    <div class="header__content-container container">
    <!------------ L O G O ---------->
    <div class="overlay">
      <div class="header__logo">
        <a href="./index.html"></a>
      </div>

      <!------------ H E A D I N G ---------->
      <div class="header__content-container">
        <!------------ T I T L E ---------->
        <div class="header__title">
          <div class="header__title-first">FIND BEST EVENTS</div>
          <div class="header__title-second">AROUND THE WORLD</div>
        </div>
        <!------------ F O R M  ---------->
        <form class="header__form">
          <input
            class="header__form__search-box"
            type="text"
            id="search-box"
            placeholder="Start searching"
          />
          <button class="header__form__btn" type="button" name="button">
            <svg class="search-icon" width="12" height="12">
              <use href="./images/icons.svg#search-icon"></use>
            </svg>
          </button>
            
          <!------------ C O U N T R Y  L I S T ---------->
        
          <select class="header__list" id="country-list" name="choose-country">
            <option value="default" selected disabled hidden>Choose country</option>
            <option value="">All</option>
            <option value="US">United States Of America</option>

            <option value="AD">Andorra</option>
            <option value="AI">Anguilla</option>
            <option value="AR">Argentina</option>
            <option value="AU">Australia</option>
            <option value="AT">Austria</option>
            <option value="AZ">Azerbaijan</option>

            <option value="BS">Bahamas</option>
            <option value="BH">Bahrain</option>
            <option value="BB">Barbados</option>
            <option value="BE">Belgium</option>
            <option value="BM">Bermuda</option>
            <option value="BR">Brazil</option>
            <option value="BG">Bulgaria</option>

            <option value="CA">Canada</option>
            <option value="CL">Chile</option>
            <option value="CN">China</option>
            <option value="CO">Colombia</option>
            <option value="CR">Costa Rica</option>
            <option value="HR">Croatia</option>
            <option value="CY">Cyprus</option>
            <option value="CZ">Czech Republic</option>

            <option value="DK">Denmark</option>
            <option value="DO">Dominican Republic</option>

            <option value="EC">Ecuador</option>
            <option value="EE">Estonia</option>

            <option value="FO">Faroe Islands</option>
            <option value="FI">Finland</option>
            <option value="FR">France</option>

            <option value="GE">Georgia</option>
            <option value="DE">Germany</option>
            <option value="GH">Ghana</option>
            <option value="GI">Gibraltar</option>
            <option value="GB">Great Britain</option>
            <option value="GR">Greece</option>

            <option value="HK">Hong Kong</option>
            <option value="HU">Hungary</option>

            <option value="IS">Iceland</option>
            <option value="IN">India</option>
            <option value="IE">Ireland</option>
            <option value="IL">Israel</option>
            <option value="IT">Italy</option>

            <option value="JM">Jamaica</option>
            <option value="JP">Japan</option>

            <option value="KR">Korea</option>

            <option value="LV">Latvia</option>
            <option value="LB">Lebanon</option>
            <option value="LT">Lithuania</option>
            <option value="LU">Luxembourg</option>

            <option value="MY">Malaysia</option>
            <option value="MT">Malta</option>
            <option value="MX">Mexico</option>
            <option value="MC">Monaco</option>
            <option value="ME">Montenegro</option>
            <option value="MA">Morocco</option>

            <option value="NL">Netherlands</option>
            <option value="AN">Netherlands Antilles</option>
            <option value="NZ">New Zealand</option>
            <option value="ND">Northern Ireland</option>
            <option value="NO">Norway</option>

            <option value="PE">Peru</option>
            <option value="PL">Poland</option>
            <option value="PT">Portugal</option>

            <option value="RO">Romania</option>

            <option value="RU">Russian Federation</option>

            <option value="LC">Saint Lucia</option>
            <option value="SA">Saudi Arabia</option>
            <option value="RS">Serbia</option>
            <option value="SG">Singapore</option>
            <option value="SK">Slovakia</option>
            <option value="SI">Slovenia</option>
            <option value="ZA">South Africa</option>
            <option value="ES">Spain</option>
            <option value="SE">Sweden</option>
            <option value="CH">Switzerland</option>

            <option value="TW">Taiwan</option>
            <option value="TH">Thailand</option>
            <option value="TT">Trinidad and Tobago</option>
            <option value="TR">Turkey</option>

            <option value="UA">Ukraine</option>
            <option value="AE">United Arab Emirates</option>
            <option value="UY">Uruguay</option>

            <option value="VE">Venezuela</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</header>