<div class="logo-container">
  <div class="logo-wrapper black">

    <div class="icon-wrapper">
      <div class="icon-back">
        <svg class="logo">
          <use href="./images/icons.svg#icon-EVENT-BOOSTER-LOGO"></use>
        </svg>
      </div>
    </div>

    <div class="icon-wrapper">
      <div class="icon-front" style="width: 0%">
        <svg class="logo">
          <use href="./images/icons.svg#icon-EVENT-BOOSTER-LOGO-COLOR"></use>
        </svg>
      </div>
    </div>

  </div>

</div>