<div class="backdrop isHidden">
    <div class="modal">
        <button type="button" id="closeBtn">X</button>

        <div class="modal-wrapper">
            <div>
                <div class="modal__image-container">
                    <img id="modal-image" class="modal-image" src="#" alt="">
                </div>
                <button type="button" id="authorBtn">MORE FROM THIS AUTHOR</button>
            </div>

            <div class="modal-data">
                <p id="modal-who"></p>
                <p id="modal-when"></p>
                <p id="modal-where"></p>
                <p id="modal-info"></p>
                <p id="modal-price"></p>
            </div>
        </div>

    </div>
</div>