<div class="backdrop isHidden">
    <div class="backdrop__wrapper">
        <div class="modal">

            <!------------ C O N T A I N E R ---------->
            <div class="modal__content">
                <button class="modal__close_btn" id="closeBtn">
                    <svg class="modal__close_btn__icon">
                        <use href="/src/images/icons.svg#icon-close"></use>
                    </svg>
                </button>

                <!------------ T O P ---------->
                <div class="modal__top">



                    <div class="modal__image-min">
                        <img id="modal-image-min" />
                    </div>

                </div>
                <!------------ M I D  ---------->
                <div class="modal__mid">
                    <!------------ M A I N  I M A G E ---------->
                    <div class="modal__image-container">
                        <img class="modal__image" id="modal-image" />
                    </div>
                    <!------------ D E T A I L S ---------->
                    <div class="modal__details">
                        <!------------ I N F O ---------->

                        <h1 class="modal__title">INFO</h1>
                        <p class="modal__post" id="modal-info">Info placeholder</p>

                        <!------------ W H E N ---------->
                        <h1 class="modal__title">WHEN</h1>
                        <p class="modal__post" id="modal-when">When placeholder</p>
                        <!------------ W H E R E ---------->
                        <h1 class="modal__title">WHERE</h1>
                        <p class="modal__post" id="modal-where">Where placeholder</p>
                        <!------------ W H O ---------->
                        <h1 class="modal__title">WHO</h1>
                        <p class="modal__post" id="modal-who">Who placeholder</p>
                        <!------------ P R I C E S ---------->
                        <h1 class="modal__title" id="modal-prices">PRICES</h1>
                        <!------------ P R I C E  I T E M ---------->
                        <div class="modal__prices-container">

                            <p class="modal__post" id="modal-price">Standart price placeholder</p>
                        </div>


                    </div>
                </div>
                <!------------ B O T ---------->
                <div class="modal__bot">
                    <button class="modal__more-btn" id="authorBtn">MORE FROM THIS AUTHOR</button>

                </div>

            </div>
        </div>
    </div>
</div>